<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.technology.yuyidoctorpad">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- ====================================激光权限================================================ -->
    <!-- <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="21" /> -->
    <!-- Required -->
    <permission
        android:name="com.technology.yuyidoctorpad.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />
    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.technology.yuyidoctorpad.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- ====================================激光权限================================================ -->
    <application
        android:name=".lzhUtils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.Strat.StartActivity"
            android:theme="@style/AppTheme"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Login.LoginActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.SelectImgActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.WriteHospitalMessageActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.PaintList.PaintMsgActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.UserInfo.UserInfoActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.MyPost.MyPostActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.Message.MessageActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.Settings.SettingActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:label="@string/title_activity_setting"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.MyPraise.MyPraiseActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.Registion.RegistionActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.PaintData.PaintDataListActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.PaintData.PaintDataSearchActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.Registion.My_registration_Info_Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.Settings.AboutActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.Settings.FeedActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.PaintList.PaintEleMsgActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />

        <!-- 友盟分享 -->


        <!-- 微博 -->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- <activity -->
        <!-- android:name=".WBShareActivity" -->
        <!-- android:configChanges="keyboardHidden|orientation" -->
        <!-- android:screenOrientation="portrait"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" /> -->
        <!-- <category android:name="android.intent.category.DEFAULT" /> -->
        <!-- </intent-filter> -->
        <!-- </activity> -->
        <service
            android:name="com.sina.weibo.sdk.net.DownloadService"
            android:exported="false" />
        <!-- 微博 -->
        <!-- 微信分享Activity -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- qq -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- qq -->
        <!-- appkey -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a0903a6b27b0a05fa00005f" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="Umeng" />
        <!-- 友盟分享 -->
        <activity
            android:name=".activity.HospitalHomePageActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.AddDcotorActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.DoctorDetilsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.Hospital.HospitalAddDepartActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.DoctorSearchActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.Hospital.HospitalEditActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.InformationDetailsActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.InformationPostActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"></activity>
        <activity
            android:name=".activity.AddPaintRecord.PaintRecordAddActicity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activity.AddPaintRecord.PhotoSelect.Post_SelectPhotoActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <!-- ================================================================容云相关================================================================ -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.FileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/rc_file_path" />
        </provider>

        <activity
            android:name=".activity.Rong.ConversationActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.technology.yuyidoctorpad"
                    android:pathPrefix="/conversation/"
                    android:scheme="rong" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".RongCloudUtils.SealNotificationReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="io.rong.push.intent.MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_ARRIVED" />
                <action android:name="io.rong.push.intent.MESSAGE_CLICKED" />
                <action android:name="io.rong.push.intent.MI_MESSAGE_CLICKED" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".activity.Rong.RongConversationList_Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="com.technology.yuyidoctorpad"
                    android:pathPrefix="/conversationlist"
                    android:scheme="rong" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Rong.UnRongListActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="adjustPan" />
        <!-- ================================================================容云相关================================================================================================ -->
        <!-- ===============================================================激光================================================================================================ -->
        <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle" />
        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.technology.yuyidoctorpad" />
            </intent-filter>
        </activity>
        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":mult">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- since 3.0.9 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="com.technology.yuyidoctorpad.DataProvider"
            android:exported="false" />
        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.technology.yuyidoctorpad" />
            </intent-filter>
        </service>
        <!-- since 3.1.0 Required SDK 核心功能 -->
        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="com.technology.yuyidoctorpad.DownloadProvider"
            android:exported="true" />
        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.technology.yuyidoctorpad" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />
        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name=".lzhUtils.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.technology.yuyidoctorpad" />
            </intent-filter>
        </receiver>
        <!-- User defined.  For test only  用户自定义接收消息器,3.0.7开始支持,目前新tag/alias接口设置结果会在该广播接收器对应的方法中回调 -->
        <receiver android:name=".lzhUtils.MyJPushMessageReceiver">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="com.technology.yuyidoctorpad" />
            </intent-filter>
        </receiver>
        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="1c6b3e58a2dff1720997c7ba" /> <!-- </>值来自开发者平台取得的AppKey -->
        <!-- ================================================================激光================================================================================================ -->
        <activity
            android:name=".TestActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"></activity>
        <activity android:name=".activity.PatientActivity"></activity>
    </application>

</manifest>