<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.technology.yuyidoctorpad">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".lzhUtils.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.Strat.StartActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.Login.LoginActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.SelectImgActivity" />
        <activity android:name=".activity.WriteHospitalMessageActivity" />
        <activity
            android:name=".activity.PaintList.PaintMsgActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.UserInfo.UserInfoActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.MyPost.MyPostActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.Message.MessageActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.Settings.SettingActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:label="@string/title_activity_setting"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".activity.MyPraise.MyPraiseActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.Registion.RegistionActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.PaintData.PaintDataListActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.PaintData.PaintDataSearchActivity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity
            android:name=".activity.Registion.My_registration_Info_Activity"
            android:configChanges="orientation|keyboard|keyboardHidden|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="landscape" />
        <activity android:name=".activity.Settings.AboutActivity" />
        <activity android:name=".activity.Settings.FeedActivity" />
        <activity android:name=".activity.PaintList.PaintEleMsgActivity"></activity>
    </application>

</manifest>